---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: "{{ mysql_name }}"
  labels:
    app: "{{ mysql_name }}"
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: "{{ mysql_name }}"
    spec:
      containers:
      - image: "{{ mysql_image }}"
        name: mysql
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "{{ mysql_name }}-pass"
              key: root_password
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-data
        persistentVolumeClaim:
          claimName: "{{ mysql_name }}-lv-claim"
