---
apiVersion: v1
kind: Service
metadata:
  name: "{{ wordpress_name }}"
  labels:
    app: "{{ wordpress_name }}"
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: {{ wordpress_external_port }}
  selector:
    app: "{{ wordpress_name }}"
