---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ wordpress_name }}-lv-claim"
  labels:
    app: "{{ wordpress_name }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  selector:
    matchLabels:
      app: "{{ wordpress_name }}"
