---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: "{{ wordpress_name }}"
  labels:
    app: "{{ wordpress_name }}"
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: "{{ wordpress_name }}"
    spec:
      containers:
      - image: "{{ wordpress_image }}"
        name: wordpress
        env:
        - name: WORDPRESS_DB_HOST
          value: "{{ wordpress_db_name }}"
        # - name: WORDPRESS_DB_USER
        #   value: admin
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "{{ wordpress_db_pass_secret_name }}"
              key: "{{ wordpress_db_pass_secret_key }}"
        ports:
        - containerPort: 80
          name: wordpress
        volumeMounts:
        - name: wordpress-data
          mountPath: /var/www/html
      volumes:
      - name: wordpress-data
        persistentVolumeClaim:
          claimName: "{{ wordpress_name }}-lv-claim"
